@media print {
  body {
    visibility: hidden;
  }
  button.edit-button {
    padding: 3px;
  }
  .kit-constant-names-row th {
    font-size: 11px;
  }
  .no-print-spacer {
    visibility: hidden;
    padding: 0px;
  }
  .no-print {
    display: none;
  }
  #divToPrint {
    overflow: visible;
    visibility: visible;
  }
  .tables-header {
    margin: 0px;
  }
  .tables-container {
    padding: 0px;
  }
  .tables-container:first-child {
    padding-top: 0.2in;
  }
  .login-container {
    display: none;
  }
  .kit-table {
    width: calc(100% - 1in);
    table-layout: fixed;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }
  .kit-table-header {
    padding: 0px;
  }
  .kit-table-header-text-container {
    display: flex;
  }
  .kit-table-header-selection {
    padding-left: 5px;
  }
}

@page {
  size: portrait;
  margin: 0in;
  /* this affects the margin in the printer settings. this removes the standard header/footers when printing (website, date, page count) */
}

/* ----------------CONTAINERS--------------- */
#root {
  width: 1100px;
  height: 670px;
  position: absolute;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  /* height = root height (670px) - root top (10px) - header height (55px) - footer height (80px) */
  height: 525px;
  background-color: white;
}

header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollable-body {
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 10px;
  background-color: #6d6fc2;
  width: 100%;
  border-radius: 0 0 10px 10px;
  height: 80px;
}

/* ----------------TEXT---------------- */
.page-title {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
}

/* --------------BUTTONS--------------- */
button {
  transition: 0.3s;
}

.nav-button {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 100px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px #8e8cff;
}

.table-button {
  background-color: #59bcc9;
}

.table-button:hover {
  background-color: #6bd6e4;
}

.home-button {
  background-color: #9593fd;
}

.home-button:hover {
  background-color: #a9a8ff;
}

.back-button {
  background-color: #cecece;
}

.back-button:hover {
  background-color: #e6e6e6;
}

.edit-button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 11px;
  font-size: 20px;
  background-color: #ffc786;
}

.edit-button:hover {
  background-color: #ffb223;
  cursor: pointer;
}

.edit-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px #ffb223;
}

.logged-out-edit-button {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.logged-out-nav-button {
  display: none;
}

#create-button-faded-out {
  background-color: #6d6fc2;
  font-size: 0px;
  text-transform: uppercase;
  border: 0px;
  padding: 0px;
  opacity: 0;
  transition: 1.3s;
}

#create-button-faded-in {
  background-color: #e9aa61;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 100px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.3s;
}

#create-button-faded-in:hover {
  background-color: #ffc582;
}

#create-button-faded-in:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px #ab92eb;
}

.add-button {
  background-color: #a1f2f8;
}

.add-button:hover {
  background-color: #7ce6e6;
}

.add-button:focus {
  outline: none;
  box-shadow: 0px 0px 6px #7ce6e6;
}

.subtract-button {
  background-color: #ffe798;
}

.subtract-button:hover {
  background-color: #fcd75d;
}

.subtract-button:focus {
  outline: none;
  box-shadow: 0px 0px 6px #fcd75d;
}
