@media print {
  body {
    visibility: hidden;
  }
  .no-print-spacer {
    visibility: hidden;
  }
  .no-print {
    display: none;
  }
  #divToPrint {
    overflow: visible;
    visibility: visible;
  }
}

/* ----------------CONTAINERS--------------- */
#root {
  width: 1200px;
  height: 770px;
  position: absolute;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  /* height = root height - root top - (header height + footer height) */
  height: 620px;
  background-color: white;
}

header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollable-body {
  overflow: auto;
}

footer {
  position: absolute;
  bottom: 10px;
  background-color: #37138c;
  width: 100%;
  border-radius: 0 0 20px 20px;
  height: 80px;
}

/* ----------------TEXT---------------- */
.page-title {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
}

/* --------------BUTTONS--------------- */
button {
  transition: 0.3s;
}

.nav-button {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 100px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px #7647e4;
}

.table-button {
  background-color: #59bcc9;
}

.table-button:hover {
  background-color: #6bd6e4;
}

.home-button {
  background-color: #947cff;
}

.home-button:hover {
  background-color: #ae9bff;
}

.back-button {
  background-color: #dfdfdf;
}

.back-button:hover {
  background-color: #ffffff;
}

.edit-button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 9px 11px;
  font-size: 20px;
  background-color: #f58fce;
}

.edit-button:hover {
  background-color: #eb62b6;
  cursor: pointer;
}

.edit-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px #eb62b6;
}

.logged-out-edit-button {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.logged-out-nav-button {
  display: none;
}

#create-button-faded-out {
  background-color: #37138c;
  font-size: 0px;
  text-transform: uppercase;
  border: 0px;
  padding: 0px;
  opacity: 0;
  transition: 1.3s;
}

#create-button-faded-in {
  background-color: #d84aa1;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 100px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.3s;
}

#create-button-faded-in:hover {
  background-color: #f06bbd;
}

#create-button-faded-in:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px #7647e4;
}
