/* ----------------CONTAINERS--------------- */
.home {
  /* might be redundant across pages */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.home-container-species-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  background-color: blanchedalmond;
}

/* ----------------TEXT---------------- */
.page-title {
  margin-bottom: 0;
}

.home-subtitle {
  color: #4b4b4b;
}

.miltenyi-link {
  color: #37138c;
  text-decoration: none;
}

/* --------------BUTTONS--------------- */
.species-button {
  font-size: calc(10px + 2vmin);
  margin: 2vw;
  padding: 2vw;
  min-width: 15vw;
  border-radius: 100vw;
  background-color: #f5f5dc;
}

.species-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px #01b0db;
}
