/* ----------------CONTAINERS--------------- */
.kits {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.kits-body {
  display: flex;
}

.kit-section {
  display: flex;
  flex-direction: column;
}

.section-positive-selection {
  background-color: lightgreen;
}

.section-negative-selection {
  background-color: pink;
}

.kit-options-container {
  display: flex;
}

/* ----------------TEXT---------------- */

/* --------------BUTTONS--------------- */
.kit-options-button {
  font-size: calc(10px + 1vmin);
  padding: 1vw;
  margin: 1vw;
}

.kit-add-button {
  background-color: green;
}

.kit-remove-button {
  background-color: red;
}
