/* ----------------CONTAINERS--------------- */
.kits-body {
  display: flex;
}

.kit-section {
  display: flex;
  flex-direction: column;
  width: ;
}

.section-positive-selection {
  background-color: rgb(179, 231, 240);
}

.section-negative-selection {
  background-color: rgb(248, 220, 255);
}

.kit-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kit-options-container {
  display: flex;
  align-items: center;
}

/* ----------------TEXT---------------- */

/* --------------BUTTONS--------------- */
.kit-options-button {
  font-size: calc(10px + 1vmin);
  text-align: center;
  margin: 1vw;
  height: calc(40px + 1vmin);
  width: calc(40px + 1vmin);
}

.kit-add-button {
  background-color: lightgreen;
}

.kit-remove-button {
  background-color: lightpink;
}
