/* ----------------CONTAINERS--------------- */
.groups-container {
}

.tables-container {
}

.kit-table {
}
/* ----------------TEXT---------------- */
.species-name {
  font-size: calc(10px + 2vmin);
}

.kit-table-subtitle {
  padding: calc(10px + 0.1vmin);
}
/* --------------BUTTONS--------------- */
.clear-table-button {
  background-color: red;
}
