/* ----------------CONTAINERS--------------- */
.create-form {
  display: flex;
  flex-direction: column;
}

.create-add-subtract-container {
  display: flex;
  flex-direction: row;
}
/* ----------------TEXT---------------- */

/* --------------BUTTONS--------------- */
.create-row-button {
  font-size: calc(10px + 1vmin);
}
