/* ----------------CONTAINERS--------------- */
.create-form {
  width: 90%;
  height: 415px;
  display: flex;
  flex-direction: row;
}

.create-section-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #e1e3ff;
  margin-left: 17%;
  margin-right: 21%;
  transition: 0.7s;
}

.create-section-left:hover {
  background-color: #d2d5ff;
}

.create-section-right {
  width: 15%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 7%;
}

#create-edit-table {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
}

.table-of-constants-container {
  margin-left: 4%;
  margin-right: 4%;
  background-color: inherit;
  height: 206px;
}

.table-of-constants {
  width: 100%;
  table-layout: fixed;
  background-color: inherit;
}

.toc-head {
  background-color: inherit;
}

.toc-header {
  background-color: inherit;
}

.toc-header th {
  position: sticky;
  top: 0;
  background-color: inherit;
}

.toc-name-col {
  width: 240px;
}

.toc-cells-col {
  width: 90px;
}

.create-add-subtract-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 11px;
}

.form-top-input {
  width: 76%;
  font-size: 14px;
  padding: 4px;
  padding-left: 6px;
  margin-left: 4px;
}

.form-bottom-input {
  font-size: 13px;
  padding: 3px;
  padding-left: 5px;
  width: calc(100% - 16px);
}

.form-top-input:focus,
.form-bottom-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px 1px #73ecd2;
}

.form-top-row .create-form-label {
  padding-right: 5px;
}

.select-type {
  cursor: pointer;
  caret-color: transparent;
}

.error {
  background-color: #ffdca7;
}

.create-section-left input {
  border: 2px solid white;
}

.alert-box {
  opacity: 1;
  border-radius: 20px;
  background-color: #ffcf98;
  position: absolute;
  top: 250px;
  box-shadow: 0 0 20px #a694d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  z-index: 100;
}

.alert-delete {
  width: 300px;
}

.alert-button-container {
  display: flex;
  flex-direction: row;
}

.alert-box-hidden {
  border-radius: 20px;
  opacity: 0;
  background-color: #ffcf98;
  position: absolute;
  top: 250px;
  transition: 0.3s;
  z-index: -1;
}

input:disabled {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

input:disabled:hover {
  cursor: not-allowed;
}

/* ----------------TEXT---------------- */
.alert-text {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 40px;
  margin-right: 40px;
}

.edit-kit-id {
  text-decoration: none;
  color: #5525c5;
  transition: 0.5s;
}

.edit-kit-id:hover {
  color: #8266ff;
}

.constants-header {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 4px;
  font-weight: 600;
}

.create-form-label {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
}

.fields-required {
  color: #f86e64;
  padding-top: 13px;
  padding-bottom: 12px;
  font-size: 17px;
}

/* --------------BUTTONS--------------- */
.create-add-subtract-row-button {
  font-size: 18px;
  letter-spacing: 1.5px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 3px;
  border-radius: 6px;
  border: none;
}

.create-add-subtract-row-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px #a5aaf5;
}

.create-add-button {
  background-color: #93e0e5;
  border: 1px solid #82dce2;
}

.create-add-button:hover {
  background-color: #aaebf0;
}

.create-subtract-button {
  background-color: #fdde79;
  border: 1px solid #fad766;
}

.create-subtract-button:hover {
  background-color: #fceab1;
}

.create-master-button {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 13px;
  margin: 2px;
  border-radius: 13px;
  border: none;
  transition: 0.3s;
}

.create-master-button + .create-master-button {
  margin-top: 12px;
}

.create-clear-button {
  background-color: #81cfda;
}

.create-clear-button:hover {
  background-color: #4cb9c7;
}

.create-clear-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #4cb9c7;
}

.create-create-update-button {
  background-color: #ffc788;
}

.create-create-update-button:hover {
  background-color: #ffa947;
}

.create-create-update-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #ffa947;
}

.create-delete-button {
  background-color: #ff8c77;
}

.create-delete-button:hover {
  background-color: #ff6449;
}

.create-delete-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #ff6449;
}

.alert-button {
  margin: 17px;
  font-size: 18px;
  padding: 7px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: #fff4e7;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.alert-button:hover {
  background-color: #ffffff;
}

.alert-button:focus {
  outline: none;
  box-shadow: 0 0 10px 1px #ffffff;
}

.alert-button-cancel {
  margin-right: 7px;
}

.alert-button-delete {
  margin-left: 7px;
  background-color: #ff6449;
}

.alert-button-delete:hover {
  background-color: #ff8c77;
}

.alert-button-delete:focus {
  box-shadow: 0 0 10px 1px #ff8c77;
}
