/* ----------------CONTAINERS--------------- */
.create-form {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.create-section-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #e0d8fc;
  margin-left: 23%;
  margin-right: 23%;
  transition: 0.7s;
}

.create-section-right {
  width: 14%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 9%;
}

.create-section-left:hover {
  background-color: #e8e4ff;
}

#create-edit-table {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
}

.table-of-constants-container {
  margin-left: 7%;
  margin-right: 7%;
  background-color: inherit;
  height: 206px;
}

.table-of-constants {
  width: 100%;
  table-layout: fixed;
  background-color: inherit;
}

.toc-head {
  background-color: inherit;
}

.toc-header {
  background-color: inherit;
}

.toc-header th {
  position: sticky;
  top: 0;
  background-color: inherit;
}

.toc-name-col {
  width: 260px;
}

.create-add-subtract-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 11px;
}

.form-top-input {
  width: 76%;
  font-size: 16px;
  padding: 4px;
  padding-left: 6px;
}

.form-bottom-input {
  font-size: 13px;
  padding: 3px;
  padding-left: 5px;
  width: calc(100% - 16px);
}

.form-top-input:focus,
.form-bottom-input:focus {
  outline: none;
  border: 2px solid #93f3e6;
  box-shadow: 0px 0px 5px 2px #5fd8c8;
}

.form-top-row {
}

.form-top-row .create-form-label {
  padding-right: 5px;
}

.form-bottom-row {
  /* background-color: red; */
}

.form-bottom-row-top {
}

.form-bottom-row-bottom {
}

.select-type {
  cursor: pointer;
  caret-color: transparent;
}

.select-type option {
  cursor: pointer;
}

.error {
  background-color: #f86489;
}

/* ----------------TEXT---------------- */
.edit-kit-id {
  text-decoration: none;
  color: #5525c5;
  transition: 0.5s;
}

.edit-kit-id:hover {
  color: #8266ff;
}

.create-form-header {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.constants-header {
  padding-top: 20px;
  /* padding-bottom: 10px; */
  font-weight: 600;
}

.create-form-label {
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
}

.create-form-head {
  text-align: center;
}
.fields-required {
  color: #f86489;
  padding-top: 13px;
  padding-bottom: 15px;
}

/* --------------BUTTONS--------------- */
.create-add-subtract-row-button {
  font-size: 18px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
  border-radius: 6px;
  border: none;
}

.create-master-button {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 13px;
  margin: 2px;
  border-radius: 13px;
  border: none;
  transition: 0.3s;
}

.create-master-button + .create-master-button {
  margin-top: 12px;
}

.create-clear-button {
  background-color: #58a8b3;
}

.create-clear-button:hover {
  background-color: #3d8b95;
}

.create-clear-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #3d8b95;
}

.create-create-update-button {
  background-color: #f06bbd;
}

.create-create-update-button:hover {
  background-color: #d84aa1;
}

.create-create-update-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #d84aa1;
}

.create-delete-button {
  background-color: #f86489;
}

.create-delete-button:hover {
  background-color: #dd3d65;
}

.create-delete-button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1px #dd3d65;
}
