/* ----------------CONTAINERS--------------- */

.footer {
  position: absolute;
  bottom: 10px;
  background-color: #6d6fc2;
  width: 100%;
  border-radius: 0 0 10px 10px;
  height: 80px;
}

/* ----------------TEXT---------------- */

/* --------------BUTTONS--------------- */
