/* ----------------CONTAINERS--------------- */
.home-container-species-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* ----------------TEXT---------------- */

.home-subtitle {
  color: #585858;
  margin: 0px;
  font-size: 20px;
  margin-top: -25px;
  padding-bottom: 30px;
}

.miltenyi-link {
  color: #37138c;
  text-decoration: none;
}

/* --------------BUTTONS--------------- */
.species-button {
  font-size: 22px;
  letter-spacing: 2px;
  margin: 20px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 180px;
  border-radius: 20px;
  text-align: center;
  background-color: #f7f4ff;
}
