/* ----------------CONTAINERS--------------- */
.kits-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.kit-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #e2daff;
  transition: 0.5s;
}

.kit-section:hover {
  background-color: #eeeaff;
}

.kit-section-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
}

.section-positive-selection {
  margin-right: 3px;
  border-radius: 0 10px 0 0;
}

.section-negative-selection {
  margin-left: 3px;
  border-radius: 10px 0 0 0;
}

.kit-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dccfff;
  box-shadow: 0 0 3px #dccfff;
  border-radius: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.kit-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  padding: 10px;
  width: 270px;
}

.kit-info-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 195px;
  justify-content: space-between;
  padding-right: 7px;
}

.kit-options-container {
  display: flex;
  flex-direction: column;
}

.kit-options-row {
  display: flex;
  align-items: center;
  /* margin-top: 8px; */
  width: 130px;
  justify-content: space-between;
}

/* ----------------TEXT---------------- */
.kit-section-title {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 22px;
}

.kit-name {
  font-weight: 400;
  margin-bottom: 5px;
}

.kit-id {
  color: #37138c;
  text-decoration: none;
  font-weight: 300;
}

/* .kits-add-subtract-text {
  display: inline-block;
  height: 32px;
  width: 32px;
  font-size: 33px;
  font-weight: 200;
} */

.kit-count {
  font-size: 20px;
  font-weight: 300;
}

/* --------------BUTTONS--------------- */
.kit-options-button {
  /* border: 1px solid #ede6ff;
  box-shadow: 0 0 2px #ede6ff; */
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  height: 43px;
  width: 43px;
  font-size: 33px;
  font-weight: 200;
  line-height: 0px;
  padding-top: 2px;
}

.kit-options-button:hover {
  cursor: pointer;
}

.kit-options-button:focus {
  outline: none;
  box-shadow: 0px 0px 4px #dccfff;
}

.kit-add-button {
  background-color: #abfddb;
  border-radius: 5px 20px 20px 5px;
}

.kit-add-button:hover {
  background-color: #77ecbc;
}

.kit-remove-button {
  background-color: #ffb6c0;
  border-radius: 20px 5px 5px 20px;
}

.kit-remove-button:hover {
  background-color: #ff8998;
}
