/* ----------------CONTAINERS--------------- */
.kits-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.kit-section {
  display: flex;
  flex-direction: column;
  width: 49.6%;
  height: 100%;
  background-color: #dcd8fd;
  transition: 0.5s;
}

.kit-section:hover {
  background-color: #fce9c4;
}

.kit-section-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
}

.section-positive-selection {
  border-radius: 0 10px 0 0;
}

.section-negative-selection {
  border-radius: 10px 0 0 0;
}

.kit-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 16px;
}

.kit-info-container + .kit-info-container {
  margin-top: 2%;
}

.kit-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  padding: 10px;
  width: 270px;
}

.kit-info-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 190px;
  justify-content: space-between;
  padding-right: 10px;
}

.kit-options-row {
  display: flex;
  align-items: center;
  width: 127px;
  justify-content: space-between;
}

/* ----------------TEXT---------------- */
.kit-section-title {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 22px;
  padding-top: 27px;
}

.kit-name {
  font-weight: 500;
  margin-bottom: 5px;
}

.kit-id {
  color: #642de6;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

.kit-id:hover {
  color: #ad6eff;
}

.kit-count {
  font-size: 20px;
  font-weight: 300;
}

/* --------------BUTTONS--------------- */
.kit-options-button {
  color: white;
  border: none;
  height: 43px;
  width: 43px;
  font-size: 22px;
  padding: 1px;
}

.kit-add-button {
  border-radius: 5px 20px 20px 5px;
  padding-right: 4px;
}

.kit-remove-button {
  border-radius: 20px 5px 5px 20px;
  padding-left: 4px;
}
