/* ----------------CONTAINERS--------------- */
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5554a8;

  border-radius: 10px 10px 0 0;
  height: 55px;
}

.login-input-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

/* ----------------TEXT---------------- */
.login-mode {
  color: white;
  font-size: 22px;
  letter-spacing: 5px;
  padding: 15px;
  padding-left: 40px;
  text-shadow: 0 0 2px #8e8dd1;
}

.login-input {
  width: 61.5%;
  padding: 7px;
  border: 0px;
  border-radius: 7px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-left: 9px;
  transition: 0.3s;
}

.login-input:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px #9d9cfc;
}

/* --------------BUTTONS--------------- */
.login-button {
  width: 30%;
  font-size: 14px;
  font-weight: 400;
  border: 0px;
  border-radius: 7px;
  color: white;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px #8e8cff;
}

.logged-in-button {
  background-color: #ec9f10;
  text-shadow: 0 0 2px #f3d59c;
}

.logged-in-button:hover {
  background-color: #fabe4f;
}

.logged-out-button {
  background-color: #3d8b95;
  text-shadow: 0 0 2px #9ac6cc;
}

.logged-out-button:hover {
  background-color: #58a8b3;
}
