/* ----------------CONTAINERS--------------- */
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #37138c; */
  background-image: linear-gradient(
    40deg,
    #170c30 0%,
    #37138c 50%,
    #39198f 100%
  );
  border-radius: 20px 20px 0 0;
  height: 60px;
}

.login-input-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* ----------------TEXT---------------- */
.login-mode {
  color: white;
  font-size: 22px;
  letter-spacing: 5px;
  padding: 15px;
  padding-left: 40px;
}

.login-input {
  width: 60%;
  padding: 7px;
  border: 0px;
  border-radius: 7px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-left: 12px;
}

.login-input:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px #a281f0;
}

/* --------------BUTTONS--------------- */
.login-button {
  width: 30%;
  font-size: 15px;
  font-weight: 400;
  padding: auto;
  border: 0px;
  border-radius: 7px;
  color: white;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px 2px #8154eb;
}

.logged-in-button {
  background-color: #ec9f10;
}

.logged-in-button:hover {
  background-color: #fabe4f;
}

.logged-out-button {
  background-color: #3d8b95;
}

.logged-out-button:hover {
  background-color: #58a8b3;
}
