/* ----------------CONTAINERS--------------- */
table {
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #f0ce0f;
}

th {
  font-weight: normal;
  font-size: 12px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

td {
  font-size: 18px;
  height: 20px;
}

.tables-container {
  margin: 10px;
  background-color: #d1d2ff;
  border-radius: 20px;
  padding: 12px;
  transition: 0.5s;
}

.tables-container:hover {
  background-color: #ffe7b8;
}

.tables-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.kit-table {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.kit-table + .kit-table {
  margin-top: 10px;
}

.kit-table-header-container {
  padding: 0px;
}

.kit-table-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kit-table-header-text-container {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
}

.kit-table thead tr:first-child {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 0 1px #ffffff;
}

.kit-table thead tr:nth-child(2) {
  box-shadow: 0 1px 0 1px #f0ce0f;
}

tr.kit-multipliers-row th {
  background-color: #ffe6a0;
  font-weight: 500;
  font-size: 14px;
}

tr.kit-multipliers-row th,
.kit-constant-names-row th,
.table-variables-row td {
  border: 1px solid #f0ce0f;
}

.superscript-cell {
  padding-top: 2px;
  padding-bottom: 5px;
}

.kit-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.medium-cell {
  width: 150px;
}

.kit-constant-names-row th,
.table-variables-row td {
  background-color: #fffbda;
}

td.medium-cell,
td.short-cell {
  background-color: #ffffff;
}

.short-cell {
  width: 92px;
}

.kit-table tbody tr:last-child {
  border-radius: 0 0 10px 10px;
}

.kit-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.kit-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* ----------------TEXT---------------- */
.tables-header-spacer {
  padding: 26px;
}

.kit-table-header-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.kit-table-header-id {
  text-decoration: none;
  color: #5525c5;
  transition: 0.5s;
}

.kit-table-header-id:hover {
  color: #8266ff;
}

.kit-table-header-selection {
  color: #5e5e5e;
}

.kit-constants-title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.user-input {
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  background: none;
}

.user-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #87ddff;
}

.kit-table tbody tr:last-child .medium-cell .user-input {
  border-radius: 0 0 0 10px;
}

td {
  font-size: 14px;
}

/* --------------BUTTONS--------------- */
.species-name {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px;
  padding: 0px;
  border: none;
  background: none;
}

.species-name:hover {
  color: #6b4cf5;
}

.delete-button {
  border: none;
  color: white;
  background-color: #ff7f68;
  padding: 10px 16px;
}

.delete-button:hover {
  background-color: #fa6552;
}

.delete-button:focus {
  outline: none;
  box-shadow: 0px 0px 7px #fa6552;
}

.delete-species {
  font-size: 24px;
  border-radius: 7px;
}

.delete-kit {
  background-color: #ff8f7b;
  margin-left: 8px;
  font-size: 20px;
  border-radius: 5px;
  padding: 9px 13px;
}

.kit-table-row-button {
  font-size: 20px;
  padding: 9px 12px;
  border-radius: 6px;
  border: none;
  color: white;
}

.kit-table-row-button.subtract-button {
  padding: 9px 12.5px;
  margin-left: 8px;
}
