/* ----------------CONTAINERS--------------- */
.groups-container {
}

.tables-container {
}

.tables-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kit-table {
}

.kit-multipliers-row {
  background-color: rgb(175, 209, 253);
}
.user-input-cell {
  padding: 0;
}
/* ----------------TEXT---------------- */
.species-name {
  font-size: calc(10px + 2vmin);
  color: green;
}

.kit-table-subtitle {
  padding: calc(10px + 0.1vmin);
}

.user-input {
  border: none;
  text-align: center;
  font-size: calc(10px + 1vmin);
}

td {
  font-size: calc(10px + 1vmin);
}
/* --------------BUTTONS--------------- */
.clear-table-button {
  background-color: red;
}

.delete-button {
  background-color: red;
  border-radius: 100vh;
  height: calc(30px + 1vmin);
  width: calc(30px + 1vmin);
}

.delete-species {
  font-size: calc(10px + 1vmin);
}
